#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

button {
  cursor: pointer;
  border: 1px solid darkslategray;
  border-radius: 5px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

label {
  font-size: 1.2em;
}

input {
  margin: 1%;
  border: 1px solid darkslategray;
  border-radius: 5px;
  padding: 1%;
}